![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://hewlett.org/wp-content/uploads/2019/01/grantee-demographic-data-v2.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

# Project
##Â Demographic Data Analyzer
In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

In [61]:
import pandas as pd

In [62]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [65]:
def calculate_demographic_data(print_data=True):
    df = pd.read_csv('adult.data.csv')
    # How many of each race are represented in this dataset? 
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = round(df[df['sex'] == 'Male'].age.mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round(100*df[df.education == 'Bachelors'].size/df.size,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    higher_education_df = df[df.education.isin(["Bachelors", "Masters", "Doctorate"])]
    fifty_k_high =higher_education_df[higher_education_df.salary == ">50K"]

    lower_education_df = df[~df.education.isin(["Bachelors", "Masters", "Doctorate"])]
    fifty_k_low = lower_education_df[lower_education_df.salary == ">50K"]
    
    # percentage with salary >50K
    higher_education_rich = round(((fifty_k_high.size/higher_education_df.size)*100),1)

    lower_education_rich = round(((fifty_k_low.size/lower_education_df.size)*100),1)

    #What is the minimum number of hours a person works per week?
    min_work_hours = df['hours-per-week'].min()
    
    #What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week']==min_work_hours]

    rich_percentage = round(100*num_min_workers[num_min_workers.salary=='>50K'].size/num_min_workers.size, 1)

    # What country has the highest percentage of people that earn >50K?
    perc_high_earn = 100*df[df.salary=='>50K']['native-country'].value_counts()/df['native-country'].value_counts()
    highest_earning_country = perc_high_earn.idxmax()
    highest_earning_country_percentage = round(perc_high_earn[highest_earning_country], 1)

    # Identify the most popular occupation for those who earn >50K in India.
    IN_occupation = df[df['native-country']=='India']
    
    top_IN_occupation = IN_occupation[IN_occupation.salary=='>50K'].occupation.value_counts().idxmax()
    
# DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/weel")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

In [66]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/weel
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty